<div style="overflow:hidden;">
    <div >
        <div class="top-row pl-4 navbar navbar-dark">
            @* <a class="navbar-brand" href=""><b>Wat Db</b></a> *@
            <div style="padding-left: 10px;">
                <a Href="" >Ekati</a>    
            </div>
            
        </div>
    </div>

    <div style="overflow-y:auto;">
        <div>
            @* <NavLinkGroup Name="Basic Controls" CollapseByDefault="false"> *@
            <a href="" Id="/" >Home</a>
            <a href="query" Id="buttonsPage" >Query</a>
            <a href="metrics" Id="checkboxPage"  >Metrics</a>
            @* </NavLinkGroup> *@
        </div>
    </div>
</div>

