<Stack Horizontal="false" VerticalFill="true" Style="overflow:hidden;">
    <StackItem Grow="0" VerticalFill="false">
        <div class="top-row pl-4 navbar navbar-dark">
            @* <a class="navbar-brand" href=""><b>Wat Db</b></a> *@
            <div style="padding-left: 10px;">
                <Link Href="" >Morgana</Link>    
            </div>
            
        </div>
    </StackItem>

    <StackItem VerticalFill="true" Style="overflow-y:auto;">
        <Nav>
            @* <NavLinkGroup Name="Basic Controls" CollapseByDefault="false"> *@
                <NavFabricLink Name="Home" Url="" Id="/" Icon="Database" />
                <NavFabricLink Name="Query" Url="query" Id="buttonsPage" Icon="Play" />
                <NavFabricLink Name="Metrics" Url="metrics" Id="checkboxPage" Icon="SpeedHigh"  />
            @* </NavLinkGroup> *@
        </Nav>
    </StackItem>
</Stack>

