<Stack Horizontal="false" VerticalFill="true" Style="overflow:hidden;">
    <StackItem Grow="0" VerticalFill="false">
        <div class="top-row pl-4 navbar navbar-dark">
            @* <a class="navbar-brand" href=""><b>Wat Db</b></a> *@
            <Link Href="" >Wat Db</Link>
        </div>
    </StackItem>

    <StackItem VerticalFill="true" Style="overflow-y:auto;">
        <Nav>
            @* <NavLinkGroup Name="Basic Controls" CollapseByDefault="false"> *@
                <NavFabricLink Name="Home" Url="" Id="/" Icon="ButtonControl" />
                <NavFabricLink Name="Query" Url="query" Id="buttonsPage" Icon="ButtonControl" />
                <NavFabricLink Name="Metrics" Url="metrics" Id="checkboxPage" Icon="CheckboxComposite"  />
            @* </NavLinkGroup> *@
        </Nav>
    </StackItem>
</Stack>

